*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

p {
  font-size: 18px;
  margin-bottom: 1rem;
}

a {
  color: #28AFB0;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
}

input, label {
  display:block;
}

button {
  background: #FC4C02;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: .75rem 1.5rem;
  transition: all 200ms ease-in-out;
  border: none;
}
button:hover {
  filter: brightness(0.85);
}
@media(max-width: 1200px) {
  button {
    width: 100%;
  }
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.image-wrapper {
  padding: 24px 8px;
}
.ramble-man {
  position: relative;
  width: 100%;
}

.content-wrapper {
  padding: 0 2rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}