p {
  font-size: 18px;
}
a {
  color: #28AFB0;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.image-wrapper {
  padding: 24px;
}
.ramble-man {
  position: relative;
  width: 100%;
}

.content-wrapper {
  padding: 0 2rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}